

*{
    margin: 0;
    padding: 0;
}
a:link {
  color: rgb(255, 147, 214);
  background-color: transparent;
  text-decoration: none;
}





body{
min-height: 100vh;
display: grid;
grid-template-columns: 300px 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
"navbar navbar"
"sidebar main"
"sidebar footer";

h1{
    font-family:gotham;
}

p{
    font-family:gotham-light;
}

}

nav{
    z-index: 1;
    display: flex;
    font-family:gotham;
    height: 4rem;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #622E4C;
    color: rgb(255, 255, 255);
    padding: 1em;
}


aside{
    z-index: 0;
    font-family: gotham-bold;
    font-size: large;
    height: calc(100vh - 4rem);
    top: 4rem;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: #CC9DB8;
    color: white;
    text-align: center;

}

main{
    grid-area: main;
    padding: 1em;
    background-color: #32252d;
    color: white;
}
                
                
footer{
    font-size: small;
    grid-area: footer;
    background-color: #ab7092;
    color: white;
    padding: 2em

}

.nav-toggle {
    display: none;

}

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    .show{
        display: block;
    }

    .nav-toggle{
    display: flex;
    background-color: #f6e1ff;
    flex-direction: column;
    padding: 5px;
    max-height: 90%;
    align-content: center;
    justify-content: center;
    border-width: 10px;
    border-color: #422a4f;
}

.hamburger {
    background-color: #f1a1a1;
    margin: 3px;
    height: 6px;
    width: 50px;
    
}

}

.table-sortable th {
        cursor: pointer;
    }

    .table-sortable .th-sort-asc::after {
        content: "\25b4";
    }
    
    .table-sortable .th-sort-desc::after {
        content: "\25be";
    }

    .table-sortable .th-sort-asc::after,
    .table-sortable .th-sort-desc::after {
        margin-left: 5px;
    }

    .table-sortable .th-sort-asc,
    .table-sortable .th-sort-desc {
            background: rgba(176, 69, 120, 0.578);
    }
    

                table{
                    font-family: gotham, book;
                     border-collapse: collapse;
                    width: 100%;
}
                td{
                border: 3px solid #9c70b4;
                text-align: left;
                padding: 8px;
                }
                
                th{
                border: 3px solid #9c70b4;
                background-color: #583353;
                font-size: larger;
                text-align: center;
                padding: 8px;
                cursor: pointer;
                }

                tr:nth-child(odd) {
                background-color: #3a313f;
                }
                tr:nth-child(even) {
                background-color: #4c4351;
                
}

/* Makes table links hover color different*/

.table a:visited {
   color: #d55099;
}


.table a:hover {
color: #ca0f50;

}
/*Make default have higher contrast