

*{
    margin: 0;
    padding: 0;
}

a:link {
  color: #622e5b;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #5c4049;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(252, 225, 225);
  background-color: transparent;
  text-decoration: underline;

}

body{
min-height: 100vh;
display: grid;
grid-template-columns: 300px 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
"navbar navbar"
"sidebar main"
"sidebar footer";

h1{
    font-family:gotham;
}

p{
    font-family:gotham-light;
}

}

nav{
    font-family:gotham;
    height: 2rem;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #622E4C;
    color: rgb(255, 255, 255);
    padding: 1em;
}

aside{
    font-family: gotham-bold;
    font-size: large;
    height: calc(100vh - 4rem);
    top: 4rem;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: #CC9DB8;
    color: white;
    text-align: center;

}

main{
    grid-area: main;
    padding: 1em;
    background-color: #f2e3fb;
    color: rgb(0, 0, 0);
}               
                
footer{
    font-size: small;
    grid-area: footer;
    background-color: #806273;
    color: white;
    padding: 2em

}

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    .show{
        display: block;
    }

}


.table-sortable th {
        cursor: pointer;
    }

    .table-sortable .th-sort-asc::after {
        content: "\25b4";
    }
    
    .table-sortable .th-sort-desc::after {
        content: "\25be";
    }

    .table-sortable .th-sort-asc::after,
    .table-sortable .th-sort-desc::after {
        margin-left: 5px;
    }

    .table-sortable .th-sort-asc,
    .table-sortable .th-sort-desc {
            background: rgba(159, 84, 119, 0.722);
    }
    

                table{
                    font-family: gotham, light;
                     border-collapse: collapse;
                    width: 100%;
}
                td{
                border: 3px solid #422a4f;
                text-align: left;
                padding: 8px;
                }
                
                th{
                border: 3px solid #422a4f;
                background-color: #ffddf1;
                font-size: larger;
                text-align: center;
                padding: 8px;
                cursor: pointer;
                }

                tr:nth-child(odd) {
                background-color: #bea0cb;
                }
                tr:nth-child(even) {
                background-color: #e0cbeb;
                
}
