body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}


.header {
  background: rgb(112, 130, 223) no-repeat center center/cover;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}


.search-bar {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

.search-bar button:hover {
    font-family: 'Times New Roman', Times, serif;
  background-color: #555;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}


.book-card {
  background: #ebe9f1;
  border-radius: 10px;
  
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
}

.book-card h3 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
}

.book-card p {
  color: #612d30;
  font-size: 0.9rem;
  margin: 0;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #555;
}

.pagination button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

#historyLine{
  text-align: center;
}